<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body style="overflow: hidden;"> <script>
    /* Theme Logic */
    function setTheme(theme) {
      try {
        if (theme === "dark") {
          document.documentElement.setAttribute('data-theme', 'dark');
          window.localStorage.setItem('theme', 'dark');
        } else {
          document.documentElement.setAttribute('data-theme', 'light');
          window.localStorage.setItem('theme', 'light');
        }
      } catch (error) { console.log('Theme error'); }
    }
    let theme = localStorage.getItem('theme');
    theme = theme || (window.matchMedia ? window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light' : 'light');
    setTheme(theme);
    function modeSwitcher() {
      let currentMode = document.documentElement.getAttribute('data-theme');
      if (currentMode === "dark") { setTheme('light'); } else { setTheme('dark'); }
    }
  </script>

  <main style="padding: 0; margin: 0; max-width: 100%;">
    {{ content }}
  </main>

</body>
</html>